[Desktop Entry]
Version=1.0
Type=Application
Name=Conky-Manager
Name[ar]=Conky-Manager
Name[ast]=Conky-Manager
Name[bg]=Conky-Manager
Name[da]=Conky-Manager
Name[el]=Conky-Manager
Name[en_AU]=Conky-Manager
Name[en_GB]=Conky-Manager
Name[eu]=Conky-Manager
Name[fi]=Conky-Manager
Name[fr]=Conky-Manager
Name[gl]=Conky-Manager
Name[he]=Conky-Manager
Name[hr]=Conky-Manager
Name[hu]=Conky-Manager
Name[id]=Conky-Manager
Name[it]=Conky-Manager
Name[ja]=Conky-Manager
Name[kk]=Conky-Manager
Name[ko]=Conky-Manager
Name[lt]=Conky-Manager
Name[ms]=Conky-Manager
Name[nb]=Conky-Manager
Name[nl]=Conky-Manager
Name[oc]=Conky-Manager
Name[pt]=Conky-Manager
Name[pt_BR]=Conky-Manager
Name[ru]=Conky-Manager
Name[sk]=Conky-Manager
Name[sl]=Conky-Manager
Name[sv]=Conky-Manager
Name[tr]=Conky-Manager
Name[ug]=Conky-Manager
Name[vi]=Conky-Manager
Name[zh_CN]=Conky-Manager
Name[zh_TW]=Conky-Manager
Comment=Select your conky
TryExec=smd-conky-manager
Exec=smd-conky-manager
Icon=conky-logomark-violet
Categories=GTK;Utility;TrayIcon;XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=false
